@font-face{
  font-family: "Mplus";
  src: url("Mplus2-Black.ttf");
}
body{
  background:black;
}
label{
  display:flex;
  align-self: center;
}

.vol:checked + .target {
background-color:tomato;
background-image: url(./1F507.svg);
background-size:68%;
background-repeat: no-repeat;
background-position: center;
}

.func:checked + .target{
  filter: invert(68%);
}

h1{
}

h1, h2, h3, h4{
  margin:0;
  padding:0;
  font-family: Mplus, Helvetica;
  text-align:center;
  align-self:center;
}

.display{
  height: 100%;
  max-width:720px;
  width:98%;
  overflow-y:scroll;
}
.display * {
  justify-self: stretch;
}

#peering{
  with:100%;
  height:200px;
  border:3px solid black;
}

.ul{
  text-decoration:none;
  font-family: Garamond;
}
.monograph{
  margin: 0 0;
  font-size:100%;
  line-height:100%;
}
.rowCenter{
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 0 .5em;
}

.colCenter{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}

.topCol{
  justify-content: flex-start;
}
.fsb{
  justify-content: space-between;
}
.fso{
  justify-content: space-around;
}
.jc{
  justify-content: center;
}


.callId > *{
  margin: 1em;
}

#streamer{
  background:#000;
  border-radius:24px;
  box-shadow: inset 0 0 0 1px skyblue, inset 0 0 3px 1px whitesmoke;
  padding: .5em 0em;
  margin:0em;
  border-radius:4px;
  color: whitesmoke;
  width:100%;
  box-sizing: border-box;
}

#streamer.listen > .bc {
  display:none;
}
.tcenter{
  text-align:center;
}

.p160{
  font-size:160%;
}

#app{
  width:100%;
  height:100%;
}
#app > * {
}

.logo{
  max-width:25%;
  padding:12px 0 0 0;
  transform: rotate(180deg);
  opacity: 50%;
  transform: hue-rotate(90deg);
}

.title{
  color:hotpink;
  color:rebeccapurple;
  align-self:center;
 -webkit-text-stroke:1px skyblue;

}

@media (max-width: 520px){
  .display{
    padding: 0;
  }
}

.features{
  margin: 0 0 5vh 0;
  border: 8px solid dodgerblue;
  color:#f5f5f5;
  background: midnightblue;
  padding: 1rem;
  border-radius:4px;
  font-size: 24px;
}
.features ul, features h3{
}
.demo{
  margin: 5vh;
  font-family:Mplus, Helvetica;
  font-size:200%;
  line-height:210%;
  padding: 0 1em;
  background:lime;
  box-shadow: 3px 3px 3px black;
}
.demo:visited{
  color: blue;
}
.hide{
  display:none;
}
.largeButton, .largeTextInput{
  padding: .5em 1em;
  font-size:150%;
  cursor:pointer;
}
#streamer button{
  cursor:pointer;
  margin:.5rem;
}
.circle{
}

.fullw{
  width:100%;
}

.status{
  border: 1px solid black;
  background: radial-gradient(black 50%, red 90%);
  box-shadow: inset 0 0 3px 2px darkgray;
}
.live{
  border-radius: 50%;
  width:2rem;
  height:2rem;
  align-self:center;
  justify-self:center;
  margin:.5rem;
  box-shadow: 0 0 6px black, 0 0 12px #fefe33, inset 0 0 12px crimson;
  background-image: url(./E0A1.svg), radial-gradient(yellow, red);
  background-size: fit;
  background-repeat: no-repeat;
  background-position: center;
  transition-property: box-shadow, filter;
  transition-duration: 666ms, 2000ms;
  transition-delay: 0s;
  transition-timing-function: ease-in;
}
.endlabel, .startlabel{
  filter: grayscale(90%) opacity(20%);
}
.func:checked ~ .targeted{
  filter: saturate(33%) blur(1px);
  transition-duration: 0ms;
  box-shadow: 0 0 0 black, 0 0 0 #fefe33, inset 0 0 0 crimson;
}
.func2:checked ~ .targeted{
  filter: saturate(1.6) blur(0);
}
.func2:checked ~ .endlabel{
  filter: none;
}
.func:checked ~ .startlabel{
  filter: none;
}

.func2:checked ~ .intro{
  filter: opacity(1);
}
.func:checked ~ .outro{
  filter: opacity(1);
}
.offair{
  box-shadow:none;
}

.grow{
  flex-grow:2;
}

input[type="range"]{
  align-self:center;
  color: #fefe33;
  filter: hue-rotate(30deg) invert(66%) saturate(20);
}
.link{
  color:dodgerblue;
  text-decoration: none;
  align-self:center;
  margin:.5rem;
  border-bottom: .05rem solid skyblue;
  font-size:60%;
}
img.button, div.button{
  color:black;
  align-self:center;
  margin:.5rem;
  text-decoration: none;
  border: .05rem solid black;
  border-radius:4px;
  font-weight:900; 
  text-shadow: 0 0 8px whitesmoke;
  font-size:80%;
  font-family: Helvetica;
}

.green{
background:forestgreen;
background-image: url(./1F3A7.svg);
filter:brightness(130%);
}

.toma{
  background: tomato;
}
.unselected{
background-image: url(./1F507.svg);
background-size:68%;
background-repeat: no-repeat;
background-position: center;
}
.selected{
background-image: url(./1F509.svg);
background-size:68%;
background-repeat: no-repeat;
background-position: center;
}
.abutton{
  color:dodgerblue;
  align-self:center;
  margin:.5rem ;
  text-decoration: none;
  border: .05rem solid skyblue;
  padding: .125rem .5rem;
  border-radius:4px;
  font-weight:100; 
  font-size:80%;
  font-family: Roboto, Helvetica;
}

.buttlabel{
  transition-property: filter;
  transition-duration: 33ms;
  transition-delay: 0s;
}
.buttlabel:active{
  filter: invert(1);
}

.glyph{
  width:2rem;
  height:2rem;
  padding:.25em;
  align-self:center;
}
.large{
  width:3rem;
  height:3rem;
  padding:.5em;
}
.invert{
    filter: invert(1);
}
.bordered{
  background-image: url(./appIcon.png);
  background-size: cover;
}
.asfe{
  justify-self:flex-end;
}
.jcfe{
  justify-self:flex-start;
}
.tidy{
  padding: 1.5em;
  font-size: 16px;
}
.fs{
  justify-self: flex-start;
}
.wrap{
  flex-wrap: wrap;
}
.intro, .outro{
  line-height:0;
  margin:0;
  transition-property: filter;
  transition-duration: 222ms;
  transition-delay: 444ms;
  text-align:center;
  filter:opacity(0);
  font-size:80%;
  color: dodgerblue;
  color: #fefe33;
}
.outro{
  color: #fefe33;
}
