@font-face{
  font-family: "Mplus";
  src: url("Mplus2-Black.ttf");
}

h1{
  color:hotpink;
  text-shadow: 3px 3px 3px purple;
}

h1, h2, h3 {
  margin:0;
  padding:0;
  font-family: Mplus, Helvetica;
  line-height: 120%;
  text-align:center;
}

.display{
  height: 100%;
  max-width:1280px;
  width:100%;
  background: #f5f5f5;
 padding-top:9vh;
}

.ul{
  text-decoration:none;
  font-family: Garamond;
}
.monograph{
  margin: 1em 0 0 0;
  font-size:150%;
}
.rowCenter{
  display:flex;
  justify-content:center;
}

.colCenter{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.topCol{
  justify-content: flex-start;
}

.tcenter{
  text-align:center;
}

.p160{
  font-size:160%;
}

#app{
  width:100%;
  height:100%;
}
#app > * {
}

.logo{
  max-width:210px;
  transform: rotate(180deg);
  opacity: 50%;
  transform: hue-rotate(90deg);
}

.title{
  font-size: 1000%;
}

@media (max-width: 520px){
  .display{
    height: 100%;
    width:100%;
    background: #f5f5f5;
    padding: 3vh;
    padding-bottom:0;
  }
}

.features{
  margin: 0 0 5vh 0;
  border: 8px solid dodgerblue;
  color:#f5f5f5;
  background: midnightblue;
  padding: 1rem;
  border-radius:4px;
  font-size: 24px;
}
.features ul, features h3{
}
.demo{
  margin: 5vh;
  font-family:Mplus, Helvetica;
  font-size:200%;
  line-height:210%;
  padding: 0 1em;
  background:lime;
  box-shadow: 3px 3px 3px black;
}
.demo:visited{
  color: blue;
}
