html, body{
  height:100%;
  width:100%;
  background:#f5f5f5;
}

video{
  width:640px;
  height:480px;
}

body, body > *{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-before: 0;
	-webkit-padding-start: 0;
	-webkit-padding-end: 0;
	-webkit-box-align: start;
	-webkit-padding-after: 0;
	display:flex;
  justify-content:center;
	margin:0;
	padding:0;
  font-family: Baskerville, Garamond;
  font-size:16px;
}

::-webkit-input-placeholder{
    font-weight:900;
}

div{
    margin:0px;
    padding:0px;  
}

textarea {
    border-bottom-color: rgb(238, 238, 238);
    border-bottom-style: inset;
    border-bottom-width: 1.8181817531585693px;
    border-left-color: rgb(238, 238, 238);
    border-left-style: inset;
    border-left-width: 1.8181817531585693px;
    border-right-color: rgb(238, 238, 238);
    border-right-style: inset;
    border-right-width: 1.8181817531585693px;
    border-top-color: rgb(238, 238, 238);
    border-top-style: inset;
    border-top-width: 1.8181817531585693px;
  margin: 0;
  padding: 5px;
  width: 100%;
  height: 100%;
}

input{
}

label{
  padding:0;
  margin:0;
}

legend {
  padding: 0 5px;
  margin: 0 0 0 3px;
}

fieldset{
}

input[type=file]{
  padding:5px 0px;
}

button {
  margin: 0px
}

